#player_wrap {
    position: relative;
    width: 100%;
    /* height: 100%; */
    height: 100%;
    /* padding-bottom: 56.25%; */
}
#player_wrap_index {
    position: relative;
    width: 100%;
}
#player_wrap iframe,
#player_wrap_index iframe {
    position: absolute;
    top: -10%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    z-index: 0;
}
#player_wrap_index {
    overflow: hidden;
}
#player_wrap_index iframe {
    width: 190%;
    height: 150%;
}
.teacher_video {
    position: relative;
}
.teacher_blur_wrapper {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video_pre_img {
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/web_icon/teachers-cover.png");
    background-size: cover;
    background-position: center;
}
.video_pre_img img {
    width: 100%;
}
#player_wrap_teacher {
    position: relative;
    width: 100%;
    height: 250px;
}
#player_wrap_teacher iframe {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
}
#player_wrap_teacher_mobile {
    position: relative;
    width: 100%;
    height: 400px;
}
#player_wrap_teacher_mobile iframe {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
}
.none {
    display: none !important;
    /* border: 1px solid red; */
}
/* s */
.countDown_wrapper {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.countDown img {
    /* border: 1px solid red; */
    position: absolute;
    height: 30%;
    /* width: 30%; */
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}
#uploadProgress {
    color: #fff;
    position: absolute;
    top: -75%;
    z-index: 3;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: #fe7523;
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
}
.hint {
    /* border: 1px solid red; */
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(25, 24, 27, 0.8);
    border-radius: 4px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 22px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    white-space: nowrap;
}
.video_mb_blur {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 1;
    /* border: 1px solid red; */
}
.video_title {
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 3;
    font-size: 22px;
    color: #fff;
}
@media (max-width: 1530px) {
    #player_wrap {
        /* height: 460px; */
    }
}
@media (max-width: 991px) {
    #uploadProgress {
        top: -100px;
    }
    #player_wrap_index iframe {
        height: 120%;
    }
    .hint {
        top: 45%;
    }
    .countDown img {
        /* width: 100%; */
    }
    #player_wrap,
    #player_wrap_teacher_mobile,
    #player_wrap_index {
        height: 400px;
    }
    #player_wrap iframe {
        height: 100%;
    }
    .video_blur {
        display: none;
    }
    .video_mb_blur {
        display: block;
    }
    .video_title {
        display: none;
    }
}
@media (max-width: 480px) {
    #player_wrap_index iframe {
        height: 120%;
        width: 150%;
    }
    #player_wrap,
    #player_wrap_teacher_mobile,
    #player_wrap_index {
        height: 300px;
    }
}
@media (max-width: 380px) {
    #player_wrap,
    #player_wrap_teacher_mobile,
    #player_wrap_index {
        height: 200px;
    }
}
#teacher_btn {
    display: none;
}
.teacher_btn_open {
    display: none;
    position: relative;
    width: 30px;
    height: 12px;
    background: #f74768;
    border-radius: 100px;
    margin: 0 0 0 4px;
}
.teacher_btn_close {
    position: relative;
    width: 30px;
    height: 12px;
    background: #c4c4c4;
    border-radius: 100px;
    margin: 0 0 0 4px;
}
.teacher_btn_close img {
    position: absolute;
    left: -5px;
    top: -5px;
}
.teacher_btn_open img {
    position: absolute;
    right: -5px;
    top: -5px;
}
#teacher_btn:checked ~ .teacher_btn_open {
    display: block;
}
#teacher_btn:checked ~ .teacher_btn_close {
    display: none;
}
#fullscreen {
    position: fixed;
    height: 80px;
    z-index: 997;
    cursor: pointer;
}
.teacher_video_mobile {
    display: none;
}

.video_blur {
    position: absolute;
    top: 0;
    /* border: 1px solid red; */
    width: 100%;
    height: 30%;
    z-index: 1;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0.46%,
        rgba(0, 0, 0, 0) 50.48%
    );
}

.singer_notification {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    z-index: 2;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 47.4%,
        rgba(0, 0, 0, 0) 100%
    );
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.singer_notification img {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    border-radius: 50%;
}
.singer_notification .male {
    color: #7096c3;
    margin-right: 4px;
}
.singer_notification .female {
    color: #f74768;
    margin-right: 4px;
}
@media (max-width: 1200px) {
    #fullscreen {
        display: none;
    }
}
@media (max-width: 991px) {
    .disabled {
        /* display: none !important; */
        position: absolute !important;
        top: -100% !important;
        left: -100% !important;
    }
    .teacher_video_mobile {
        display: block;
    }
    .singer_notification {
        height: 32px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
    }
}
/* .en {
    margin-bottom: 8px;
    font-size: 18px;
} */
.tw {
    font-size: 14px;
}
/* .video_main_body {
    padding-top: 50px !important;
} */
.rec_sub {
    position: absolute;
    top: -180px;
    left: 0;
    width: 100%;
}
.video_bar .left > .original {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 14px;
    font-size: 16px;
    font-weight: 300;
}

.video_bar .left > .original > div {
    position: relative;
    width: 28px;
    height: 10px;
    background-color: #f74768;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    margin-left: 4px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.video_bar .left > .original > div div {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);

    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#original:checked ~ .original > div {
    background-color: #b6b6b6;
}
#original:checked ~ .original > div > div {
    background-color: #7f7f80;
    left: 0;
}

@media (min-width: 991px) {
    #tab2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 0px;
    }
    #tab2 .tab2_title {
        display: flex;
        align-items: center;
        height: 50px;
        background: #fff;
        font-family: "Noto Sans TC";
        font-size: 16px;
        color: #f74768;
        padding: 0 8px;
        margin: 0;
    }
    #tab2 .tab2_title label {
        display: flex;
        align-items: center;
        margin: 0;
        cursor: pointer;
        font-weight: 500;
    }
    #tab2 .tab2_title label > img {
        width: 12px;
        margin-right: 8px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    #tab2 > ul {
        /* border: 1px solid red; */
        max-height: 171px;
        overflow-y: scroll;
    }
    /* 捲軸寬度 */
    #tab2 > ul::-webkit-scrollbar {
        width: 2px;
    }
    /* 捲軸本體顏色 */
    #tab2 > ul::-webkit-scrollbar-thumb {
        background-color: #7a7a7a;
    }
    #singer_list:checked ~ .voice_items {
        display: none;
    }
    #singer_list:checked ~ .tab2_title label > img {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    .no_audio {
        padding: 0 0px;
        position: relative;
        width: 100%;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        background-color: #000;
    }
}
@media (max-width: 1366px) {
    .original > span {
        display: none;
    }
}
